doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .banner
      .app-title Jukebot
      ul.top-nav
        li: a(href='./auth/github') Log In
        li Bogus Link

    block content
