doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .banner
      .app-title Jukebot
      ul.top-nav
        li
          if !everyauth.loggedIn
            a(href='./auth/github') Log In
          else
            span Log Out
        li Bogus Link

    block content
