extends layout

block content
  style.
    #token {
      width: 20em;
    }

    #console {
      width: 30em;
      height: 30em;
    }

  script(src="/socket.io/socket.io.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(src="/js/testclient.js")

  h1= title
  p Welcome to #{title}
  div
    label(for="token") Token:
    input#token(type="text" value="Nc2z411n+7iq/9Aid8i/llslViUK")
    button#connect Connect
  div
    textarea#console
